<% 
total_people = Person.count(:all)
attending = Person.count(:all, :conditions => "attending = TRUE")
not_attending = Person.count(:all, :conditions => "attending = FALSE")
no_response = Person.all(:conditions => "attending IS NULL").count()
%>

<div>
	<b>Attending:</b> <%= attending %>
</div>

<div>
	<b>Not Attending:</b> <%= not_attending %>
</div>

<div>
	<b>Haven't Responded:</b> <%= no_response %>
</div>

<div>
	<b>Total People:</b> <%= total_people %>
</div>
