<div class="row-fluid">
	<div class="span12">
		<h1>RSVP <%= image_tag "dark_hearts.png", :height => '50', :width => '50' %></h1>
	</div>
</div>

<hr/>

<p>The RSVP function of this site will turn on once invitations have been sent out.</p>