<h1>RSVP - Party Detail</h1>

<%= form_for @party, :url => { :action => "submit" } do |f| %>
	<% for person in @party.people %>
		<h3><%= person.first_name %> <%= person.last_name %></h3>

		<hr />

	<% end %>

	<%= f.submit :class => 'btn' %>
<% end %>

<script>
	function attendingRadioChange(personId) {
		if(document.getElementById("radio_" + personId + "_attending").checked) {
			//Show the extra options
			document.getElementById("extra_options_" + personId).setAttribute("class", "show");
		}
		else {
			//Hide the extra options
			document.getElementById("extra_options_" + personId).setAttribute("class", "hide");
		}
	}

	function guestCheckBoxChange(personId) {
		if(document.getElementById("checkbox_" + personId + "_bringing_guest").checked) {
			document.getElementById("guest_options_" + personId).setAttribute("class", "show");
		}
		else {
			document.getElementById("guest_options_" + personId).setAttribute("class", "hide");
		}
	}
</script>