<!--<div class="hero-unit">
  <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
    <div data-src="http://farm9.staticflickr.com/8435/7978316063_3d5fbd224a_b.jpg">
    </div>
  </div>
</div>-->

<div id="mainCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://farm9.staticflickr.com/8435/7978316063_3d5fbd224a_b.jpg"/>
    </div>
    <div class="item">
      <img src="http://farm9.staticflickr.com/8296/7978322438_3c4cc3ab98_b.jpg"/>
    </div>
    <div class="item">
      <img src="http://farm9.staticflickr.com/8453/7978307597_e4414afb21_b.jpg"/>
    </div>
  </div>
  <!-- Carousel nav 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
</div>

<script>
$(document).ready(function() {
  $('#mainCarousel').carousel({
    interval: 5000
  })
});
</script>