<div class="row-fluid">
	<div class="span12">
		<h1>Gallery <%= image_tag "dark_hearts.png", :height => '50', :width => '50' %></h1>
	</div>
</div>

<hr/>

<div class="row-fluid pagination-centered">
	<div class="span4">
		<a href="http://www.flickr.com/photos/tom_arra/sets/72157631596416032/">
			<div style="margin-top:10px;margin-bottom:10px;font-weight:bold;">Through the Years</div>
			<img src="http://farm9.staticflickr.com/8029/8012548924_9cbc369b53_q.jpg" class="thumbnail" style="margin: 0 auto;">
		</a>
	</div>
	
	<div class="span4">
		<a href="http://www.flickr.com/photos/tom_arra/sets/72157631516146879/">
			<div style="margin-top:10px;margin-bottom:10px;font-weight:bold;">Engagement Photos</div>
			<img src="http://farm9.staticflickr.com/8310/7978310927_194413b82f_q.jpg" class="thumbnail" style="margin: 0 auto;">
		</a>
	</div>
</div>
