<div class="page-header">
	<h1>Photo Gallery <small></small></h1>
</div>

<p>All the photo's will be uploaded to <a href="http://www.flickr.com/photos/tom_arra/collections/72157631516150981/">Flickr</a></p>
