/* Large desktop */
@media (min-width: 980px) { 
	.map {
		width: 425px;
		height: 350px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.map {
		width: 425px;
		height: 350px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.map {
		width: 425px;
		height: 350px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	.map {
		width: 320px;
		height: 290px;
	}
}