html {
	overflow-y: scroll;
}

.page-title {
	font-size: 36px;
	line-height: 40px;
	margin-right: 10px;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
	vertical-align: middle;
}

.page-title-div {
	padding-top:10px;
	padding-bottom:10px;
}

.page-title-heart {
	height: 50px;
	width: 68px;
}