<div class="row-fluid">
	<div class="span12">
		<h1>Registry <%= image_tag "dark_hearts.png", :height => '50', :width => '50' %></h1>
	</div>
</div>

<hr/>

<p>Tommy & Sarah are registered at the following retail locations</p>
<ul>
	<li>
		<a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?WRN=-1958251602">Bed Bath & Beyond</a>
	</li>
	<li>
		<a href="http://www.carsons.com/GiftRegistryAuthenticate?storeId=10001&catalogId=10051&langId=-1&externalId=8159634">Carsons</a>
	</li>
	<li>
		<a href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_registry_view.jsp?REGISTRY_SEARCH%3C%3EREGISTRY_TYPE=-1&REGISTRY_SEARCH%3C%3ESEARCH_REGISTRY=1788547&REGISTRY_SEARCH%3C%3ESTATUS=4&FOLDER%3C%3Efolder_id=2534374757646390&bmForm=grw_search_registry&bmFormID=jDeH_DH&bmSubmit=SUBMIT_FILTER_ID&bmUID=1347821349171&bmHash=ad06155a27f77b6458f7801becea04c86b693339">Kohls</a>
	</li>
	<li>
		<a href="http://www.sears.com/shc/s/grlist_10153_12605_900050057112010101">Sears</a>
	</li>
	<li>
		<a href="http://target.bfi0.com/1ea9d6fb9layeousibn7ynfaaaaaaaaaaaaacsxz4dnkqaaaj5sqimaad/C?U=aHR0cDovL3d3dy50YXJnZXQuY29tL3dlZGQvcmVnaXN0cnkvTDFYaGRwbnZKSThoeXluaWFpblBfZw%3D%3D&&ew4T7ewrogTvBd2nYFbxJQ">Target</a>
	</li>
</ul>
