<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="#">Tommy & Sarah</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li id="home_navbar"><a href="#">Home</a></li>
		  <li id="details_navbar"><a href="#about">Details</a></li>
		  <li id="registry_navbar"><a href="#contact">Registry</a></li>
		  <li id="rsvp_navbar"><a href="#rsvp">RSVP</a></li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>